<% if @wiki_entry.destroyed? %>
  $('#wiki-entry-' + <%= @wiki_entry.id %>).addClass('danger').fadeOut(500);
<% else %>
  $('#wiki-entry-' + <%= @wiki_entry.id %>).prepend("<div class='alert alert-danger'><%= flash[:error] %></div>");
<% end %>
