<div class="jumbotron text-center">
  <h1>Simple Wiki</h1>
  <p class="lead">Create and share Markdown wikis</p>
  <p><a class="btn btn-lg btn-success" href="#" role="button">Sign Up</a></p>
</div>

<div class="row">
  <div class="col-sm-6 text-center">
    <h3>Create public wikis.</h3>
    <p><a class="btn btn-primary" href="#" role="button">Free Plan</a></p>
  </div>
  <div class="col-sm-6 text-center">
    <h3>Create private wikis.</h3>
    <p><a class="btn btn-primary" href="#" role="button">Premium Plan</a></p>
  </div>
</div>
