<div class="jumbotron text-center">
  <h1>Simple Wiki</h1>
  <p class="lead">Create and share Markdown wikis</p>
  <p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-success", role: "button" %></p>
</div>

<div class="row">
  <div class="col-sm-6 text-center">
    <h2>Create Public Wikis</h2>
    <p class="lead">Create and share an unlimited number of public wikis.</p>
  </div>
  <div class="col-sm-6 text-center">
    <h2>Create Private Wikis</h2>
    <p class="lead">Signup for a premium account to create private wikis that only be edited by the collaborators of your choice.</p>
  </div>
</div>
